:root {
--bs-blue: #0d6efd;
--bs-indigo: #6610f2;
--bs-purple: #6f42c1;
--bs-pink: #d63384;
--bs-red: #dc3545;
--bs-orange: #fd7e14;
--bs-yellow: #ffc107;
--bs-green: #198754;
--bs-teal: #20c997;
--bs-cyan: #0dcaf0;
--bs-black: #232323;
--bs-white: #fff;
--bs-gray: #86b8b6;
--bs-gray-dark: #387462;
--bs-gray-100: #f9fdfc;
--bs-gray-200: #f1f8f6;
--bs-gray-300: #d9efe7;
--bs-gray-400: #c6e6de;
--bs-gray-500: #abd5c6;
--bs-gray-600: #86b8b6;
--bs-gray-700: #409088;
--bs-gray-800: #387462;
--bs-gray-900: #1b4e3f;
--bs-primary: #00ffbd;
--bs-secondary: #409088;
--bs-success: #42ba96;
--bs-info: #b45be1;
--bs-warning: #d83aeb;
--bs-danger: #43b5c5;
--bs-light: #f9fdfc;
--bs-dark: #1b4e3f;
--bs-primary-rgb: 0,255,189;
--bs-secondary-rgb: 64,144,136;
--bs-success-rgb: 66,186,150;
--bs-info-rgb: 180,91,225;
--bs-warning-rgb: 216,58,235;
--bs-danger-rgb: 67,181,197;
--bs-light-rgb: 249,253,252;
--bs-dark-rgb: 27,78,63;
--bs-white-rgb: 255,255,255;
--bs-black-rgb: 35,35,35;
--bs-body-color-rgb: 35,35,35;
--bs-body-bg-rgb: 0,0,0;
--bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
--bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
--bs-body-font-family: Diatype,var(--font-family-sans-serif);
--bs-body-font-size: 1.0625rem;
--bs-body-font-weight: 400;
--bs-body-line-height: 1.6;
--bs-body-color: #232323;
--bs-body-bg: #000;
--bs-border-width: 1px;
--bs-border-style: solid;
--bs-border-color: #f1f8f6;
--bs-border-color-translucent: rgba(35,35,35,.175);
--bs-border-radius: 0.375rem;
--bs-border-radius-sm: 0.25rem;
--bs-border-radius-lg: 0.5rem;
--bs-border-radius-xl: 1rem;
--bs-border-radius-2xl: 2rem;
--bs-border-radius-pill: 50rem;
--bs-link-color: #00ffbd;
--bs-link-hover-color: #00cc97;
--bs-code-color: #d63384;
--bs-highlight-bg: #fff3cd;
}